.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.line{
  position: relative;
  min-height: 2rem;
  min-width: 50vw;
  max-width: 80vw;
}
.line > .line-base{
  position: absolute; 
  height: 10px;
  inset:  10%;
}
.line-1{
  background-color: aquamarine;
  width: 100%;
}
.line-2{
  background-color:red;
  width: 50%;
  
}